*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #c8d8e4;
    height: 100%;
}

p{
    margin: 0;
    padding: 1rem;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    width: 100vw;
    margin: 0 auto;
    padding: 0 min(10%, 100% - 1500px);
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b6777;
    height: auto;
}

#header button{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#books{
    width: 75vw;
    margin:  5rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.book{
    width: min(100%, 300px);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    text-align: center;
    background-color: #f2f2f2;
    border: 2px solid #2b6777;
}

.book > div{
    margin: 1rem;
}

.book div:first-child{
    font-weight: bold;
    font-style: italic;
}

#pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
}

form{
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 1rem;
    justify-content: space-around;
    width: min(100%,350px);
    padding: 1rem;
    border: 4px solid black;
    margin: auto;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    margin-top: 10vh;
}

label{
    display: block;
    font-weight: bold;
    font-style: italic;
}

input[type = text]{
    height: 1.7rem;
    border-radius: 1.7rem;
    padding-left: 0.5rem;
}

.button{
    align-self: stretch;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 3rem;
    cursor: pointer;
    margin: 0.5rem;
}

.add{
    background-color: #52ab98;
}

.cancel{
    background-color: #db3a3a;
}

.read{
    background-color: #72f0d5;
    content: "Read";
}

.notRead{
    background-color: #ff5c5c;
    content: "Not read";
}